<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/perfil.css' />
</head>

<body>
    <div id="conteudo">
        <p class="header">Tipo de acesso</p>
        <p>
          <button class="btn" type="button" onclick="window.location='/index1'">Analista</button>
        </p>
        <p>
          <button class="btn" type="button" onclick="window.location='/index2'">Gestor</button>
        </p>
    </div>

</body>

</html>