body{
    background-color:#384c60;
    margin:2% 10% 2% 10%;
    height: 100%;
    min-height: 100%;
    font-family: Arial; 
}
.logout{
  display: flex;
  justify-content:flex-end;
}
#btnlogout{
  color: white;
  font-size: 100%;
  background-color:#f55e0d;
  border-color:#f55e0d;
  border-radius: 5px;
  width: 10%;
  height: 25%;
  display: flex;
  justify-content:center;
}
#conteudo{
    background-color:white;
    padding: 5% 10% 20% 10%;
   
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10% 0% 0% 0%;
    font-size: 6vh;
    color: #384c60;
    margin: -10% 10% 10% 10%;
}
#btncadastro{
    color: white;
    font-size: 100%;
    background-color:#f55e0d;
    border-color:#f55e0d;
    border-radius: 5px;
    width: 30%;
    height: 25%;
}
#result{
    width: 100%;
    height: 100%;
    margin: -8% 0% 0% 0%;
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.pesquisa{
    display: flex;
    justify-content:center;
    align-items: center;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .table {
    border-bottom: #999999 solid 1px;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }

  .table th,
  .table td {
    border-right: #999999 solid 1px;
    font-size: 12px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
  }

  .table td:last-child {
     border-right: 0;
  }

  .table thead th {
    font-weight: normal;
    background-color: #005dab;
    color: #fff;
    font-size: 15px;
  }

  .table tbody > tr:nth-child(odd) > td,
  .table tbody > tr:nth-child(odd) > th {
    background-color: #f8f8f8;
  }

  @media (max-width: 767px) { 
    
    /* Responsive Table */
    .table-responsive {
      display: block;
      position: relative;
      width: 100%;
    }
  
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
      display: block;
    }
    .table-responsive td,
    .table-responsive th {
      height: 35px;
    }
  
    .table-responsive thead {
      float: left;
    }
  
    .table-responsive tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
    }
  
    .table-responsive tbody tr {
      display: inline-block;
    }
  
    
    .table td:last-child {
       border-right: #999999 solid 1px;
    }
}